<div class="filter-container ">
    Cena
    <label class="filter-label form-check-label" for="flexCheckDefault">
      <input type="checkbox" class="form-check-input" value="" [formControl]="ascendingCheckBox" (change)="ascendingCheckBoxChange()">
      Rosnąco
    </label>
    <label class="filter-label form-check-label" for="flexCheckDefault" >
      <input type="checkbox" class="form-check-input" value="" [formControl]="descendingCheckBox" (change)="descendingCheckBoxChange()">
      Malejąco
    </label>
  </div>
  