
p {
  text-align: center;
  font-size: 23px;
  letter-spacing: 0.4px;
  word-spacing: 1.2px;
  color: #8d5817;
  font-weight: normal;
  text-decoration: none solid rgb(68, 68, 68);
  font-weight: bolder;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.img-product{
  width: 100%;
  height: 25rem;
  padding: 2rem;
}
